.title{
    background:red
}

 footer{
    background-color: #eee;
    padding: 10px;
}
main{
    margin: 20px 0;
}

.mainTitle{
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 2px solid #4B8EC7;
    color: #053566
}

.addContainer{
    margin: 20px 0;
    
}

.addContainerButton{
    background-color: #053566;
}

.addContainerButton :hover{
    background-color: #4B8EC7;
}

.indInfo {
    color: #053566;
    text-align: center;
}